.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
*.tgz

hooks
node_modules
!webpack.config.js
*package-lock.json

src/*.d.ts
src/dist
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js

!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*

demo/*.d.ts
demo/report/report.html
demo/report/stats.json
demo/lib
demo/platforms
!demo/karma.conf.js
!demo/app/tests/*.js
!demo/references.d.ts

!demo-ng/ngcc.config.js

demo-ng/platforms

demo-vue/platforms
!demo-vue/app/app.js

publish/src
publish/package
publish/dist
package-lock.json
