button {
  border-radius: 2;
  font-size: 16;
  margin: 15;
  background-color: #336699;
  color: #fff;
}

label {
  text-align: center;
}

ActionBar {
  background-color: #0b4a8a;
  color: #ffffff;
}
