@import '~nativescript-theme-core/css/core.light.css';

button {
  border-radius: 2;
  font-size: 16;
  margin: 15;
  background-color: #a33401;
  color: #fff;
}
label {
  text-align: center;
}

ActionBar {
  background-color: #bb3601;
  color: #ffffff;
}