<ActionBar title="Carousel Data-binding Demo"></ActionBar>

<ScrollView>
    <StackLayout>
        <Label text="Define a single CarouselItem element with the '*ngFor' tag pointed at your array." textWrap="true" margin="20,10,50,10"></Label>

        <GridLayout height="350">
            <Carousel #myCarousel debug="true" [items]="myData" height="100%" width="100%" color="white" (pageChanged)="myChangePageEvent($event)" 
                    android:indicatorAnimation="slide" indicatorColor="#fff" indicatorOffset="0, -10" showIndicator="true">
                <CarouselItem *ngFor="let item of myData" [backgroundColor]="item.color" verticalAlignment="middle" (tap)="myTapPageEvent()">
                    <GridLayout>
                        <Image [src]="item.image" stretch="aspectFill"></Image>
                        <Label [text]="item.title" horizontalAlignment="center" backgroundColor="#50000000" height="30"></Label>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>

        <Label text="Indicator animation type: 'slide'" textWrap="true" ios:visibility="collapsed" margin="10,0,0,0"></Label>

        <Button text="Select page 3" (tap)="selectPageThree()" margin="10,10,0,10"></Button>
        <Button text="Add page" (tap)="addNewPage()" margin="10,10,0,10"></Button>
        <Label text="Tap the button to add more pages" textWrap="true" margin="10,10,0,10"></Label>
    </StackLayout>
</ScrollView>