<ActionBar title="Angular Carousel App"> </ActionBar>

<StackLayout>
  <Label text="Tap buttons to see Carousel in action" textWrap="true" margin="10,0,20,0"></Label>

  <Button text="Static Carousel" [nsRouterLink]="['/static']" pageTransition="slide"></Button>
  <Button text="Data-Bound Carousel" [nsRouterLink]="['/dynamic']" pageTransition="slide"></Button>
  <Button text="Extras & Events" [nsRouterLink]="['/advanced']" pageTransition="slide"></Button>
  <Button text="Image Zoom Example" [nsRouterLink]="['/imageZoom']" pageTransition="slide"></Button>

  <Image src="~/assets/ng-logo.png" width="66" margin="20,0,0,0"></Image>
</StackLayout>
