demo/
*.png
*.log
screens/
*.map
*.ts
!carousel.d.ts
tsconfig.json
tslint.json
typings/
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
dist/
*.tgz