@import '~nativescript-theme-core/css/forest.css';

ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

label {
  text-align: center;
}

button {
  font-size: 16;
  border-radius: 2;
  background-color: #298f64;
  color: #fff;
  margin: 16;
}
